body{
    font-family:Comfortaa;
}
.navbar{
    background-color: rgb(237, 135, 68);
}
.workarea{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size:2rem;
}
.navlinks li a{
    color:#ffffff;
}
.navlinks li ul li a{
    color:#000000;
}
.navlinks li ul li a:hover{
    color:#ff0000;
}
.navlinks li a:hover{
    color:rgb(0, 255, 13);
}
.image{
    height:500px;
    object-fit:cover;
    position:static;
 }
 .carousel-caption{
     justify-content: center;
 }
 .carousel-caption h5{
     font-size: 2rem;
 }
 .carousel-caption p{
     font-size: 1.5rem;
 }
.image1{
    height:75%;
    width:65%;
    margin:0.5rem;
    border-radius: 2rem;
}
tbody, td, tfoot, th, thead, tr{
    border-style: none;
}
#perso{
    margin:1rem;
}


.foot {
    color: #fff;
    background: #000;
}
.contact ul li{
    list-style: none;
    padding:0.5rem;
}
.contact ul li a{
    font-size:1.8rem;
    color:#0d00ff;
}
.contact{
    margin:1em;
    font-size:1.1rem;
}
.links {
    font-size:1.1rem;
    margin:0.8rem;
}
.email{
    margin:1rem;
}
.email p{
    font-size:1.1rem;
}
.links ul li{
    list-style:disc;
    padding:0.4rem;
}
.links ul li a{
    text-decoration: none;
    color:#fff;
}
.links ul li a:hover{
    color:#7cac5e;
}
.cright{
    padding:0.5rem; 
    font-size:1.5rem;
}
@media (max-width:768px){
    .logo{
        font-size:1.6rem;
    }
    .carousel-caption h5{
        font-size: 1.6rem;
    }
    .carousel-caption p{
        font-size: 1.2rem;
    }
}
@media (max-width:425px){
    .logo{
        font-size:1.3rem;
    }
    .carousel-caption h5{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
}