body{
    font-family:Comfortaa;
}
.navbar{
    background-color:#151269;
}
.workarea{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-size:2rem;
    font-family:'Times New Roman', Times, serif;
}
.navlinks li a{
    color:#ffffff;
}
.dropdown-menu li a{
    color:#000000;
}
.navlinks li ul li a:hover{
    color:#ff0000;
}
.navlinks li a:hover{
    color:rgb(0, 255, 13);
}
.image{
    height:500px;
    object-fit:cover;
    position:static;
 }
 .carousel-caption{
     justify-content: center;
 }
 .carousel-caption h5{
     font-size: 2rem;
 }
 .carousel-caption p{
     font-size: 1.5rem;
 }
.image1{
    height:75%;
    width:65%;
    margin:0.5rem;
    border-radius:50%;
}
#text{
    font-size: 1.5rem;
}
tbody, td, tfoot, th, thead, tr{
    border-style: none;
    font-size:1.4rem;
}
#perso{
    margin:1rem;
}
#perso h2{
    font-size: 2.5rem;
}
.service {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.service-head {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom:2rem;
}
.servicetext{
    color:#000;
    font-size:1.5rem;
    text-align:center;
}
.box {
    text-align: center;
    border:0.1rem inset rgb(72, 81, 254);
    border-radius: 2rem;
    margin:1rem;
    padding:1rem;
    height:16rem;
}
.box:hover{
    color:#fff;
    background-color:rgb(39, 3, 41);
}
.box:hover p{
    color:#fff;
}
.box p{
    font-size: 1rem;
    color:#000;
}
.box h3{
    font-size:1.5rem;
}
.bi{
    color:lightslategray;
    font-size: 2.5rem;
    margin-bottom:1rem;
}


.foot {
    color: #fff;
    background: #000;
}
.contact ul li{
    list-style: none;
    padding:0.5rem;
}
.contact ul li a{
    font-size:1.8rem;
    color:#0d00ff;
}
.contact{
    margin:1em;
    font-size:1.1rem;
}
.links {
    font-size:1.1rem;
    margin:0.8rem;
}
.email{
    margin:1rem;
}
.email p{
    font-size:1.1rem;
}
.links ul li{
    list-style:disc;
    padding:0.4rem;
}
.links ul li a{
    text-decoration: none;
    color:#fff;
}
.links ul li a:hover{
    color:#7cac5e;
}
.cright{
    padding:0.5rem; 
    font-size:1.5rem;
}
@media (max-width:769px){
    .logo{
        font-size:1.6rem;
    }
    .carousel-caption h5{
        font-size: 1.6rem;
    }
    .carousel-caption p{
        font-size: 1.2rem;
    }
    .service-head {
        font-size: 1.6rem;
    }
    .servicetext{
        font-size:1.2rem;
    }
    .box{
        height:15rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .box h3{
        font-size:1.3rem;
    }
    #text{
        font-size: 1.3rem;
    }
    td,th{
        font-size:1.1rem;
    }
    #perso h2{
        font-size: 2rem;
    }
}
@media (max-width:426px){
    .logo{
        font-size:1.3rem;
    }
    .carousel-caption h5{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    .service-head {
        font-size: 1.4rem;
    }
    .servicetext{
        font-size:1rem;
    }
    .box{
        height:12rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .box h3{
        font-size:1.2rem;
    }
    #text{
        font-size: 1rem;
    }
    td,th{
        font-size:0.8rem;
    }
    #perso h2{
        font-size: 1.7rem;
    }
}